:root {
    user-select: none;
    -webkit-user-drag: none;

    --button-transparency: 0;
    --button-offset-x: 33;
    --button-offset-y: 5;
}

body {
    background: transparent;
    overflow: hidden;
}

#ipod {
    width: 300px;
    aspect-ratio: 0.66/1;
    
}

#ipod-screen {
    background: linear-gradient(to bottom, #404240, #000 25%);
    width: 151px;
    height: 234px;
    position: absolute;
    transform: translate(74px, -436px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#ipod-screen img {
    width: 114.5%;
    aspect-ratio: 1/1;
    -webkit-box-reflect: below -1px linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0,0,0,1) 80%
    );
    user-select: none;
    -webkit-user-drag: none;
}

#topbar p {
    margin: 0;
    padding-top: 3px;
    font-family: sans-serif;
    text-align: center;
}


#ipod-time {
    font-size: 8px;
    color: #b3b6b9;
    border-bottom: 1px solid #171818;
}

#ipod-artist {
    font-size: 7px;
    color: #b3b6b9;

    font-weight: 500;
    border-top: 1px solid #585c5c;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

#ipod-title {
    font-size: 10px;
    color: #fff;

    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}


#ipod-topbar {
    background-color: #444747;
    background: linear-gradient(to top, black 5%, #444747 95%);
    width: 100%;
    height: 38px;
}

/* Bottom Bar */

#ipod-bottom-bar {
    background: linear-gradient(
        to bottom,
        #0007,
        #000e
    );
    width: 100%;
    height: 22px;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;

    justify-items: center;
    justify-content: center;

    gap: 3px;
}

#ipod-bottom-bar p{
    margin: 0;
    font-family: sans-serif;

    --text-size: 8px;
    height: 10px;
    line-height: 10px;
}

#seek-time {
    height: 100%;
    color: #fff;
    font-size: var(--text-size);
}

#seek-remaining {
    height: 100%;
    color: #fff;
    font-size: var(--text-size);
}

button {
    -webkit-app-region: no-drag;
}

/* Control Buttons */

#pause-button {
    position: absolute;
    left: 0;
    top: 0;

    transform: translate(calc(calc(134 + var(--button-offset-x)) * 1px), calc(calc(393 + var(--button-offset-y)) * 1px));
    height: 25px;
    width: 30px;

    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, var(--button-transparency));
}

#skip-button {
    position: absolute;
    left: 0;
    top: 0;

    transform: translate(calc(calc(184 + var(--button-offset-x)) * 1px), calc(calc(341 + var(--button-offset-y)) * 1px));
    height: 25px;
    width: 30px;

    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, var(--button-transparency));
}

#back-button {
    position: absolute;
    left: 0;
    top: 0;

    transform: translate(calc(calc(85 + var(--button-offset-x)) * 1px), calc(calc(341 + var(--button-offset-y)) * 1px));
    height: 25px;
    width: 30px;

    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, var(--button-transparency));
}

/* Progress Bar */

#progress-bar {
    width: 67%;
    height: 30%;
    background-color: #fff;
    border: 1px solid rgba(1,1,1,0.5);
}

#progress {
    width: 25%;
    height: 100%;
    background: linear-gradient(to bottom, #9cccf8 0%, #598fc9 60%, #56b2d6 85%, #77ebff 100%);
}